.carousel-container {
    background-color: rgba(22, 34, 55, 1);
    padding: 200px 0; 
}

.carousel-item img {
    height: 60vh; 
    object-fit: contain; 
}
.testimonials-heading {
    text-align: center;
    margin-bottom: 100px;
    color: #fff;
}
